@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url('/styles/nav.css');
body,
html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  z-index: -5;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://cdn.glitch.com/8221397f-6c86-4df7-8594-6863280dc149%2F2019-09-23_20.59.40.png?v=1569286792096");
  filter: brightness(63%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

.logo {
  width: 300px;
  position: fixed;
  top: 30%;
  left: 20%;
  margin-left: -75px;
  margin-top: -100px;
  animation-fill-mode: both;
  animation: colorize 300ms 0ms linear both;
  z-index: -1;
}

.title {
  font-size: 50px;
  position: fixed;
  top: 50%;
  left: 20%;
  animation-fill-mode: both;
  animation: colorize 300ms 0ms linear both;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  z-index: -1;
}

.desc {
  font-size: 30px;
  position: fixed;
  top: 65%;
  left: 20%;
  animation-fill-mode: both;
  animation: colorize 300ms 0ms linear both;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  z-index: -1;
}

.ip {
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 60%;
  background: #363636;
  border-radius: 10px;
  padding: 20px;
  animation-fill-mode: both;
  animation: colorize 300ms 0ms linear both;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 2;
}

@media only screen and (max-height: 800px) {
  .logo {
    top: 20%;
  }
}
@keyframes colorize {
  from {
    opacity: 0;
  }
}

#content {
  position: absolute;
  z-index: 3;
  background-color: white;
  top: 100vh;
  left: 0;
  padding: 30px;
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.right {
  text-align: right;
}

canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 200px;
    position: fixed;
    top: 20%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    animation-fill-mode: both;
    animation: colorize 300ms 0ms linear both;
    z-index: -1;
  }

  .title {
    font-size: 50px;
    position: fixed;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-fill-mode: both;
    animation: colorize 300ms 0ms linear both;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    z-index: -1;
  }

  .desc {
    font-size: 30px;
    position: fixed;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    animation-fill-mode: both;
    animation: colorize 300ms 0ms linear both;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    z-index: -1;
  }

  .ip {
    font-size: 40px;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #363636;
    border-radius: 10px;
    padding: 20px;
    animation-fill-mode: both;
    animation: colorize 300ms 0ms linear both;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    z-index: 2;
  }
}
