<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/styles/admin.css">
  </head>
  <body>
    {{> nav}}
    <div class="main"></div>
    <input id="password" placeholder="Enter Password">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/scripts/admin.js"></script>
    <div class="content">
      <h1>
        User logged in!
      </h1>
      <button>
        Add to changelog
      </button>
    </div>
  </body>
</html>