<!DOCTYPE html>
<html>
  <head>
    <title>Cepi Applications</title>
    <link rel="stylesheet" href="/styles/nav.css">
  </head>
  <body>
    {{> nav}}
    <h1>
      Cepi Applications
    </h1>
    <div class="question" value="username">
      <input placeholder="MC Username">
    </div>
    <div class="question" value="discord">
      <input placeholder="Discord (User#tag)">
    </div>
    <div class="question" value="age">
      <input placeholder="Age">
    </div>
    <div class="question" value="timezone">
      <input placeholder="Timezone">
    </div>
    <div class="question" value="mic">
      <span class="title">Do you have a working microphone?</span>
      <input type="radio" name="mic" value="true">Yes
      <input type="radio" name="mic" value="false">No
    </div>
  </body>
</html>