<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/changelog.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
  </head>  
  <body>
    {{> nav}}
    <div id="content" class="main">
      <h1 class="title-h1">
        Changelog
      </h1>
      <div class="changes">
        {{#each changelog}}
          <div class="change-item">
            <h1>{{name}}</h1>
            <p>
              Released on {{date}}
            </p>
            {{#each changes}}
              <span class="{{type}}">{{content}}</span><br><br>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
