
<!DOCTYPE html>
<html>
  <head>
    <title>Cepi Docs</title>
    <link rel="stylesheet" href="/styles/docs.css">
  </head>
  <body>
    {{> nav}}
    <div class="nav">
      
    </div>
    <div class="main">
      <h1 class="titlemain">
        Cepi Documentation
      </h1>
      <p class="descmain">
        Find all cepi related APIs and usages here!
      </p>
      <div class="section">
        <h1 class="codeblock title">/api/changelog</h1>
        <p>
          Gets a JSON changelog in an <span class="codeblock">Array</span>. Example element:
        </p>
        <pre>
        <code class="language-javascript">
  {
    "name": "Trumpets",
    "date": "11/10/2019",
    "changes": [
      {
        "type": "new",
        "content": "Added trumpets to cepi."
      }
    ]
  }
        </code>
        </pre>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
  </body>
</html>