<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cepi</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
    <script src="/lib/particles.js"></script>
    <script src="/scripts/main.js" defer></script>
  </head>  
  <body>
    {{> nav}}
    <div id="particles-js"></div>
    <div id="bg"></div>
    <h1 class="title">
      Cepi
    </h1>
    <p class="desc">
      The RPG you've always wanted.
    </p>
    <span class="ip">cepi.mc.gg</span>
    <img src="https://cdn.glitch.com/8221397f-6c86-4df7-8594-6863280dc149%2Fl.png?v=1569876545104" class="logo">
    <div class="main">
    </div>
    <div id="content">
      
    </div>
    <div class="login">
      <h1>
        
      </h1>
      <input placeholder="Email">
      <span class="discord">Login with Discord</span>
      <span class="google">Login with Google</span>
    </div>
  </body>
</html>
